@mixin shadow {
    text-shadow: 0 1px 0 rgb(241, 196, 203),
                0 2px 0 rgb(201, 168, 174),
                0 3px 0 rgb(180, 158, 162),
                0 4px 0 rgb(202, 183, 187),
                0 5px 0 rgb(233, 204, 211),
                0 6px 1px rgba(196, 120, 133, .1),
                0 0 5px rgba(196, 120, 133, .1),
                0 1px 3px rgba(196, 120, 133, .3),
                0 3px 5px rgba(196, 120, 133, .2),
                0 5px 10px rgba(196, 120, 133, .25),
                0 10px 10px rgba(196, 120, 133, .2),
                0 20px 20px rgba(196, 120, 133, .15);
                     
    color:rgb(243, 105, 128);
}

@mixin skew {
    cursor: pointer;
    color: #000; transform: skewX(12deg) translateX(5px); 
    transform: skewX(12deg) translateX(-5px);
}

@mixin tranSlide {
    transition: transform .6s ease-out;
}

@mixin skillStyle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: $white-color;
    text-align: center;
}

@mixin font {
    font-family: 'Zen Dots', cursive;
    font-weight: 300;
}