$nav-color: #d6b8b8;
$btn-link: rgb(196, 120, 133);
$btnLink-hover: rgb(178, 171, 218);
$contact-color: rgba(196, 120, 133, 2);
$skillsBtn: #d18f9a; 
$white-color: #fff;
$progress: rgb(211, 201, 201);
$black: #000;
$transition-card: transform .6s ease-out;