/* ============================================= */
/*            FORM                    */
/* ============================================= */

.form {
    &-control {
        height: 50px;
        margin-bottom: 1em;
        
    }
    &-modal {
        /* padding-left: 30px; */
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}

form {
    width: 500px;
    border: $button-hover 2px solid;
    background-color: $form-border;
    border-radius: 7px;
}

.text{
    &-area {
        width: 100%;
        height: 200px;
        
    }
    
}

.text,
.name {
    color: $btn-link;
    text-align: center;
}

/* ============================================= */
/*           PopUp Form                   */
/* ============================================= */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    border-bottom: 4px solid $open-btn;
    background-color: $white-color;
    color: $black;
    transition: 0.2s ease-in-out;
    outline: none;
    cursor: pointer;
        &:hover {
            background-color: $button-hover;
            opacity: 0.6;
            transition: 1s;
        }
  }

.text-link {
    &:hover a {
        text-decoration: none;
        background-color: $button-hover;
        color: black;
        transition: 2s;
    }
}
  /* The popup form - hidden by default */
.form {
    &-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
      }
}

  
  /* When the inputs get focus, do something */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: $white-color;
    input[type=text], 
    input[type=password] {
        &:focus {
            background-color: #ddd;
            outline: none;
      }
    }
}
  /* Set a style for the submit/login button */
.container {
    @media (min-width: 1024px) {
            width: 80%;
            max-width: 1450px;
        }

    .btn {
        @extend %btn;
        background-color: $btn-link;
        color: $white-color;
        opacity: 0.8;
      }
   
}
  
  
.btn-a {
      @extend %btn;
        border-radius: 5px;
        background-color: $white-color;
        color: $btn-link;
       &:hover {
        text-decoration: none;
        color: rgb(24, 22, 24);
    }
    
}


.button {
    border: none;
    background-color: transparent;
      &-group {
        margin-left: 30px;
    }
}

 /* Add some hover effects to buttons */
.form-container 
.btn:hover, 
.open-button:hover {
    opacity: 1;
  }

.modal {
    &-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    border: none;
    background-color: $white-color;
}

}

.work {
    &-ph {
    
        color: black;
        margin: 0;
        padding-top: 1em;
        grid-area: work-ph;
        align-self: center;
        font-size: 1.3em;
        letter-spacing: 1.7px;
        text-align: center;
        padding-left: 30px;
        margin-right: 30px;
    }
    &-link {
        padding: 10px 30px;
        margin-bottom: 80px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 10px;
        border: none;
        border-bottom: 4px solid $open-btn;
        background-color: $white-color;
        color: black;
        transition: 0.2s ease-in-out;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        
    }
}



.text {
    &-link {
    text-align: left;
    line-height: 1.15;
    padding-left: 30px;
    margin-top: 20px;
    width: 70%;
}
}

/* ============================================= */
/*           BUTTONS                     */
/* ============================================= */
.form-btn {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    border-bottom: 4px solid $btn-link;
    background-color: $white-color;
    color: $black;
    transition: 0.2s ease-in-out;
    outline: none;
    cursor: pointer;
    
   
    &:hover {
        text-decoration: none;
        background-color: $button-hover;
        color: $black;
        transition: .8s;
    }
    
}


.form-msg {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background-color: $contact-color;
    color: $white-color;
    transition: 0.2s ease-in-out;
    outline: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        background-color: $btnLink-hover;
        color: $black;
        
        transition: .8s;
    }
}

.button {
    &-primary {
        color: $btn-link;
        background-color: $white-color;
        width: 90%;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
    }
}

.btn {
    @media (min-width: 480px) {
        margin-right: 40px;
    }
    @media (min-width: 768px) {
        margin-right: 30px;
    }
    @media (min-width: 1024px) {
        margin-right: 40px;
    }
    color: $btn-link;
    margin-right: 10px;
    cursor: pointer;
    margin-left: -5px;
    &:hover {
        color: rgb(24, 22, 24);
        transition: .8s;
        opacity: 1;
        background-color: $btnLink-hover;
    }
}








