%btn {
    padding: 5px 10px;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
}

%clip {
   clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
} 

%card-border {
    border-radius: 10px;
    border: 2px solid rgb(196, 120, 133);
}

%shorthand {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

%pro-shadow {
    -webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.3);
    transition: all 0.5s ease;
}
