/* ============================================= */
/*            NAVIGATION                     */
/* ============================================= */
.jumbotron {
    background-color: rgba(255, 255, 255, 0.26);
    
    /* background-image: url('../images/back-img\ \(2\).jpg'); 
  */
}

 .navbar {
    text-transform: uppercase;
    text-align: right;
    display: flex;
    align-items: center;
  
}

.nav-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
   
}

.nav-item, 
.svg-nav {
    position: relative;
    cursor: pointer;
 
}
 
.nav {
    &-link {
        color: $white-color;
            &:hover,
            &:active {
                color: $black; transform: skewX(12deg) translateX(5px); 
                transform: skewX(12deg) translateX(-5px);
                transition: .8s; 
            }
            &:before {
                transform: scale(1);
            }
    }
}


.button {
    &-group {
        border-radius: 10px;
    }
}


 
.footer,
.navbar {
    background-color: $nav-color;
}

 
.body, 
.header {
    background-color: rgba(255, 255, 255, 0.26);
}

.nav2 {
    a {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
        color: white;
     }
 }

.nav {
    justify-content: center;
    display: block;
    margin: 0 auto;
}




 /* ============================================= */
/*            FOOTER                   */
/* ============================================= */
.copyright {
    text-align: center;
}

.svg-link {
    display: block; 
   padding: .5rem 1rem;
}

.svg-link {
    &:hover {
        fill: $btn-link;
        transform: scale(2) rotate(360deg);
        transition: .8s;
    }
}

/* ============================================= */
/*           SVG                    */
/* ============================================= */

.gitHub {
    overflow: auto;
}


.svg-nav {
    width: 60px;
    height: 50px;
    margin: 0;
}