/* ============================================= */
/*            SKILLS                 */
/* ============================================= */

.container {
    margin: 60px auto;
    width: 400px;
    text-align: center;
    .progress {
        @extend %pro-shadow;
        margin: 0 auto;
        width: 400px;
        padding: 4px;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
        background-color: rgba(230,230,230,1);
        
      }
  }
  
 
.percentage {
    display: none;
    width: 5%;
    text-align: center;
}

.progress {
    margin-bottom: 15px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    &-bar {
        height: 16px;
        border-radius: 4px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
        transition: 0.4s linear;
        transition-property: width, background-color;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    }
    &:hover {
        @extend %plopIt-hover;
    }
    &-skills {
        @media (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 0;
        }
        margin-left: 30px;
        margin-right: 20px;
    }

    @media (min-width: 768px) {
        margin-left: 10px;
        margin-right: 20px;
    }

    @media (min-width: 1024px) {
        
        margin-left: 20px;
        margin-right: 5px;
    }
    
    
}


.progressBar {
    display: flex;
    // color: $white-color;
    text-align: center;
    background-color: $skillsBtn;
    width: 90%;
    transition: .6s;
    border: none;
    border-radius: 3px;
    padding: 5px;
    height: 20px;
}


  
progress {
    color: $progress;
  }
  
progress::-webkit-progress-value {
    background: $progress;
  }

.skills {
    padding: .8em 0;
    &-success {
        background-color: $btn-link;
   }
    &-btn {
        @include skillStyle;
        background-color: $skillsBtn;
        width: 15%;
        transition: .6s;
        border: none;
        border-radius: 3px;
        padding: 5px;
        height: 20px;
    }
    &-prog {
        &-bar {
            @include skillStyle;
            background-color: rgb(202, 181, 185);
            transition: width .6s ease;
        }
    }
    
}

