* {
    box-sizing: border-box;
}
 .abt-me, 
 .skills, 
 .mywork-port {
    font-family: 'Original Surfer', cursive;
 } 

 .nav-link, 
 .btn, 
 .form-msg, 
 .form-btn {
    font-family: 'Bebas Neue', cursive;
 }

  .work-txt {
    font-family: 'Zen Dots', cursive;
    
  }