* {
    box-sizing: border-box;
}

body {
   font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
   color: #404040;
   background: #2a2a2a;
 }
 
 .abt-me, 
 .skills, 
 .mywork-port {
    font-family: 'Original Surfer', cursive;
 } 

 .nav-link, 
 .btn, 
 .form-msg, 
 .form-btn {
    font-family: 'Bebas Neue', cursive;
 }

  .work-txt {
    font-family: 'Zen Dots', cursive;
    
  }